-# coding: UTF-8
!!! 5

-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8]
  <html class='no-js lt-ie9' lang='en'>
:plain
  <!--[if gt IE 8]><!--><html class='no-js' lang='en'><!--<![endif]-->

%head
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width'}

  %title= title
  %link{rel: 'stylesheet', href:'__css/app.css'}
  %link{rel: 'stylesheet', href:'__css/general_foundicons.css'}
  /[if lt IE 8]
    %link{rel: 'stylesheet', href:'__css/general_foundicons_ie7.css'}

  %script{src: '__js/foundation/modernizr.foundation.js'}

%body

  .row

    %section{role: 'complementary'}
      .row
        .six.columns
          %h1= title
          %h4
            <!-- TODO: user gravatar -->
            %img{src: '__img/no_gravatar.gif', width: 20, height: 20, alt: 'John Doe'}
            <!-- TOOD: user name -->
            %small John Doe
          %h4.subheader= description
          %div.panel.meta
            %h6.subheader Dec 18, 2012 12:00PM
            %ul.inline-list
              -categories.each do |category|
                %li
                  %a{href: '#'}=category
        .six.columns
          %h1
            %a.th.hero{href: '#'}
              <!-- TODO: graphic from user's repo -->
              %img{src: '__img/graphic.png'}

    %hr/
    %section{role: 'lesson'}
      .row
        .twelve.columns
          !=yield # output is sanitized by the sanitize gem

    %hr/

    .row#footer
      .ten.columns
        .radius.progress.success.ten
          %span.meter.eight 80%
      .two.columns
        %span <!-- TODO: score goes here -->

  -# foundation
  %script{src: '__js/foundation/jquery.js'}
  %script{src: '__js/foundation/jquery.cookie.js'}
  %script{src: '__js/foundation/jquery.event.move.js'}
  %script{src: '__js/foundation/jquery.event.swipe.js'}
  %script{src: '__js/foundation/jquery.foundation.accordion.js'}
  %script{src: '__js/foundation/jquery.foundation.alerts.js'}
  %script{src: '__js/foundation/jquery.foundation.buttons.js'}
  %script{src: '__js/foundation/jquery.foundation.clearing.js'}
  %script{src: '__js/foundation/jquery.foundation.forms.js'}
  %script{src: '__js/foundation/jquery.foundation.magellan.js'}
  %script{src: '__js/foundation/jquery.foundation.mediaQueryToggle.js'}
  %script{src: '__js/foundation/jquery.foundation.navigation.js'}
  %script{src: '__js/foundation/jquery.foundation.tabs.js'}
  %script{src: '__js/foundation/jquery.foundation.tooltips.js'}
  %script{src: '__js/foundation/jquery.foundation.topbar.js'}
  %script{src: '__js/foundation/jquery.placeholder.js'}
  %script{src: '__js/foundation/app.js'}

  -# mathjax
  %script{src: 'https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'}
  %script{src: '__js/app.js'}

:plain
  </html>
