-# coding: UTF-8
%form.question{id: "question_#{id}"}
  %fieldset

    %legend Problem #{index}
    %input.q-id{type: 'hidden', value: id}

    %p= question

    .row.collapse
      .ten.mobile-three.columns
        -options.each do |value, label|
          %label{for: 'answer'}
            %input{name: 'answer', type: 'radio', value: value}
              = label
      .two.mobile-one.columns
        %a.button.submit.small.expand.postfix.radius{href: '#'} Submit

