@import "settings";
@import "foundation";

/* settings */
$borderWidth: 2px;

.highlight {
  @import "pygment";
  @import "github";
}

@import "mathjax";

body {
  padding: 0 $columnGutter/2;
}

/* Meta panel */
div.meta.panel {
  border-top: $borderWidth solid $darkEdge;
}

/* Lesson graphic */
a.hero img {
  width: 100%;
}

/* Floating navigation bar */
#sections {
  background: darken($white, 5%);
  padding-top: 10px;
  width: $rowWidth + 18;
  border-bottom: $borderWidth solid $darkEdge;
  z-index: 1;
}

/* Progress bar */
#footer .meter {
  color: $white;
  font-weight: 800;
  text-align: right;
  padding: 2px 2px 0 0;
}

.block-image {
  text-align: center;
}
