/* code blocks */
.highlight pre {
  background-color: lighten(#000, 97.5%);
  border: 1px solid lighten(#000, 80%);
  overflow: auto;
  padding: 6px 10px;
  border-radius: $tableBorderRadius;
  font-size: ms(0) - 1;
  line-height: 1.6;
  font-family: Consolas, 'Liberation Mono', monospace;
  margin-bottom: ms(1);
  -webkit-font-smoothing: auto;
}
